        @charset "UTF-8";
        
        /* Main
        --------------------------------------------------------------------------------------- */

        /* font-family: 'Montserrat', sans-serif;
        font-family: 'Montserrat Alternates', sans-serif;
        font-family: 'Montserrat Subrayada', sans-serif;
        font-family: 'Righteous', cursive; */

        body 
            {
            font-family: 'Roboto', cursive;
            color: white;
           background-color: #282828;
            /*background: url('../images/fruit_allsorts_pineapple_melon_grapes_orange_tangerine_kiwi_apples_basket_43780_1920x1080_blur.jpg'); */
            /*background: url('../images/fruit_allsorts_pineapple_melon_grapes_orange_tangerine_kiwi_apples_basket_43780_1920x1080_blur_02.jpg'); */
            /*background: url('../images/fruit_allsorts_pineapple_melon_grapes_orange_tangerine_kiwi_apples_basket_43780_1920x1080_blur_03.jpg'); */
            /* background: url('../images/pattern-overlay.png') repeat; */
            margin: 0px
            }
        
            object, img {
                max-height: 68%;
                max-width: 68%;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                border: 0px solid rgb(255,255,255);
            }